.loading-message {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffcc00;
  animation: pulse 1.5s infinite ease-in-out;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

@media (min-width: 600px) {
  .article-card {
    flex-direction: row;
    text-align: left;
  }
  .article-details {
    text-align: left;
  }
}

.article-img {
  width: 350px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#comment-box {
  width: 500px;
  height: 150px;
}

#delete-button {
  background-color: red;
}

.deleted-comment {
  background-color: gray;
  opacity: 0.5;
  color: rgb(92, 79, 79);
  text-decoration: line-through;
  pointer-events: none;
}